@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-lighter: #feffff;
  --clr-light: #f4f7ff;
  --clr-dark: #303030;
  --clr-accent: #fd8701;
  --clr-accent-2: #00a759;

  --fs-h1: 2.7rem;
  --fs-h2: 2.4rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1rem;
  --fs-h5: 1.4rem;
  --fs-h6: 1rem;
  --fs-body: 1rem;
  --fs-medium: 0.85rem;
  --fs-small: 0.75rem;

  --bs-primary: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-secondary: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --bs-tertiary: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  background-color: var(--clr-lighter);
}

.container-fluid {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}
.main-sections {
  padding: 5%;
}

#title {
  padding: 5%;
  position: relative;
  background-color: #f7f8fa;
}

.hidden-element {
  display: none;
}
/* Navbar */

.navbar-nav {
  margin-inline-start: 1em;
}

.navbar-brand {
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  font-weight: 800;
  color: #000;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: var(--fs-h6);
  font-family: var(--ff-primary);
  text-align: center;
  color: #000;
}

.title-image {
  filter: drop-shadow(0.8rem 0.8rem 0.4rem rgba(0, 0, 0, 0.5));
  max-width: 100%;
  z-index: 2;
}
.navbar-toggler {
  font-size: 1.5rem;
}
.hide-element {
  display: none;
  transition: display 3000ms ease-in;
}

@media (max-width: 992px) {
  .hidden-number {
    display: none;
  }
}

/* Main section */
.intro-container {
  padding-top: 50px;
}

h1 {
  font-size: var(--fs-h1);
  line-height: 1.5;
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  color: #000;
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

.button {
  font-size: var(--fs-h4);
  border-radius: 35px;
  width: 10rem;
  color: #fff;
  box-shadow: var(--bs-primary);
}
#farmers-btn {
  background-color: var(--clr-accent);
}
#user-btn {
  background-color: var(--clr-accent-2);
}
/* Custom SVG */
.custom-shape-divider-bottom-1617462339 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1617462339 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 252px;
}
.shape-fill {
  fill: var(--clr-accent);
}
.shape-filled {
  fill: var(--clr-accent-2);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1617462339 svg {
    width: calc(150% + 1.3px);
    height: 188px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1617462339 svg {
    width: calc(148% + 1.3px);
    height: 83px;
  }
}
/* About */

.about {
  max-width: 800px;
  box-shadow: var(--bs-primary);
  border-radius: 16px;
}
/* How it works for farmerss */
.farmers-container {
  position: relative;
}
h2 {
  line-height: 1.5;
  font-size: var(--fs-h3);
  text-align: center;
  font-weight: 900;
  font-family: var(--ff-primary);
  color: #000;
}
.info-holder {
  padding: 1rem;
  width: 100%;
}
#farmers-info-holder {
  background-color: var(--clr-accent);
}
#user-info-holder {
  background-color: var(--clr-accent-2);
}

.card {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    323deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(68, 70, 68, 1) 100%
  );
  box-shadow: var(--bs-primary);
  max-width: 280px;
  max-height: 325px;
  border-radius: 30px;
  z-index: 2;
}

.card-title {
  font-size: var(--fs-h5);
  color: #fff;
  font-family: var(--ff-secondary);
}
.icons {
  font-size: 3rem;
  color: var(--clr-accent);
}
#choice-farmer-btn {
  background-color: var(--clr-accent);
  z-index: 4;
  width: 15rem;
}
.choice-photo {
  width: 20%;
  max-width: 400px;
  border-radius: 40% 10%;
}

.farmers-choice {
  margin-bottom: 10%;
  background-color: #f89f3a;
  box-shadow: var(--bs-primary);
  border-radius: 16px;
  max-width: 1100px;
}
.choice-text {
  padding: 5%;
}
@media (max-width: 768px) {
  .choice-photo {
    display: none;
  }
}
#user-icons {
  color: var(--clr-accent-2);
}
.icon {
  color: var(--clr-accent);
}
.card-text {
  color: #adb5bd;
  font-family: var(--ff-primary);
  font-size: var(--fs-h4);
}

#user-svg .shape-fill {
  fill: var(--clr-accent-2);
}

#user-farmer-btn {
  background-color: var(--clr-accent-2);
  z-index: 4;
  width: 15rem;
}

.users-choice {
  margin-bottom: 10%;
  background-color: #0acc72;
  box-shadow: var(--bs-primary);
  border-radius: 16px;
  max-width: 1100px;
}
/* Footer */
.footer {
  width: 100%;
  align-self: end;
  justify-self: end;
}
